<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>List Band Reivews</title>

<link type="text/css"
	th:href="@{/styles/styles.css}" rel="stylesheet" />

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/list}">List of Album Reviews</a>
				<a class="navbar-brand" href="#" th:href="@{/Bandlist}">List of Band Reviews</a>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
				<a class="navbar-brand" href="#" th:href="@{/logout}">Logout</a>			
			</div>
		</div>
	</nav>

	<div class="container">

		<h3>List Reviews</h3>

		<hr />
		<div class="center"> 
		<a th:href="@{/addBandForm}" class="btn btn-primary">Add Reviews</a> <br />
		</div>
		<br />
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Review</th>
					<th>Vinyls</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="review: ${BandReview}">
				
					<td th:text="${review.name}" /></td>
					<td th:text="${review.review}" /></td>
					<td th:text="${review.NumOfRecordsOwned}" /></td>
					<td><a th:href="@{/showUpdateBandForm(reviewId=${review.id})}"
						class="btn btn-info">Update</a>
						<a th:href="@{/deleteBandReview/{id}(id=${review.id})}" class="btn btn-danger">Delete</a></td>
						
				</tr>

			</tbody>

		</table>
	</div>


</body>

</html>