body {
	background-color: #c0c0c0;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	color: blue;
	font-family: "Times New Roman", Times, serif;
}

p {
	color: black;
	font-family: "Times New Roman", Times, serif;
}

::placeholder {
	color: black;
}

table, th, td, title {
	border: 1px solid;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#table1, #table2, #table3, #table4 {
	text-align: center;
	display: none;
}

.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #778388;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

input[type=text], [type=password] {
	background-color: gray;
	display: block;
    font-size:11px;
    padding:20px 10px;
    border:solid 1px #aacfe4;
    width:500px;
    margin:2px 0 20px 10px;
    text-align: center;
    
  margin-left: auto;
  margin-right: auto;
}
input[type=text]:focus {
  background-color: #c0c0c0;
}

textarea {
	background-color: gray;
	width: 50%;
	padding: 12px 10px;
	margin: 8px 0;
	box-sizing: border-box;
}

a:link, a:visited {
	background-color: darkslateblue;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: gray;
}

.button {
	background-color: darkslateblue;
	border: none;
	font-size: 20px;
	color: white;
	padding: 5px 10px;
	width: 150px;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
    
  margin-left: auto;
  margin-right: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}

.placeholder {
  font-size: 12px;
}
.lbl{
	font-size: 20px;
}